extends layout
block content
    .article-list
        article
            header
                h2= article.title
                .article-author Author: #{article.author}
            .article-content.clearfix
                .article-img
                    img(src='public/upload/#{article.img}', alt='#{article.author}')
                p.article-description=  article.content
            footer
                form(action='/articles/#{article._id}', method='DELETE')
                    button.article-more(type='submit') Delete
                    a.article-more(href='/articles/update/#{article._id}') Update